* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.icon::before,
.icon::after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

:root {
    --bcg-color: #141922;
    --aside-color: #000000;
    --nav-color: #282828;
    --header-color: #080B1280;
    --aside-font: gray;
    --heading-font: white;
    --hover-text: #ADFF2F;
}

a {
    color: var(--aside-color);
    text-decoration: none;
}

li {
    list-style-type: none;
}

img,
svg {
    display: block;
    width: 100%;
}

body {
    background-color: var(--bcg-color);
    height: 100vh;
}

.container {
    display: flex;
    height: calc(100% - 100px);
}

aside {
    width: 350px;
    background-color: var(--aside-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 30px 10px;
}

aside>div:first-child {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

aside a,
aside {
    color: var(--aside-font);
}

aside li {
    padding-left: 26px;
    width: fit-content;
}

aside li:hover {
    cursor: pointer;
}

aside li:hover a {
    color: var(--heading-font);
}

aside div h3 {
    color: var(--heading-font);
}

.aside-green {
    border-left: 4px solid var(--aside-color);
    transition: all 0.30s;
}

.switch {
    transition: all 0.30s;
}

.aside-green:hover {
    border-left: 4px solid var(--hover-text);
}

.hidden {
    display: none;
}

aside>div:first-child>figure:first-child {
    width: 180px;
    padding-left: 30px;
}

aside>div:first-child>figure:first-child:hover {
    cursor: pointer;
}

aside .aside-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 26px;
    margin-bottom: 10px;
    width: fit-content;
}

aside .aside-controls:hover {
    cursor: pointer;
}

aside .aside-controls figure {
    width: 35px;
}

aside .aside-controls:hover figure img {
    filter: none;
}

aside .aside-controls:hover a {
    color: var(--heading-font);
}

aside .aside-controls figure img {
    filter: invert(69%) sepia(2%) saturate(9%) hue-rotate(16deg) brightness(93%) contrast(94%);
}

aside #playlists-menu h3 {
    padding-left: 30px;
}

aside #playlists-menu ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

aside #playlists-menu>div a {
    font-size: 20px;
}

aside #playlists-menu>div {
    width: fit-content;
    margin-block: 10px 25px;
    padding-left: 26px;
}

aside #playlists-menu>div a::before {
    content: "+";
    font-size: 50px;
    color: var(--aside-color);
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    display: inline-block;
    width: 50px;
    aspect-ratio: 1;
    background-color: var(--aside-font);
    margin-right: 15px;
}

aside #playlists-menu>div:hover {
    cursor: pointer;
}

aside #playlists-menu>div:hover a {
    color: var(--heading-font);
}

aside #playlists-menu>div:hover a::before {
    background-color: var(--heading-font);
}

aside #profile {
    justify-self: flex-end;
}

aside #profile div {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
}

aside #profile div:first-child {
    padding-left: 26px;
}

aside #profile div:first-child figure {
    width: 22px;
}

aside #profile hr {
    margin-block: 10px 15px;
    margin-inline: 30px;
    border-color: var(--aside-font);
}

aside #profile div:nth-child(3) {
    padding-left: 30px;
}

aside #profile div:nth-child(3) figure {
    width: 27px;
    background-color: var(--aside-font);
    border-radius: 50%;
    aspect-ratio: 1;
    overflow: hidden;
}

aside #profile div:nth-child(3) figure img {
    filter: none;
}

aside #profile div:nth-child(3) h3:active {
    color: var(--aside-font);
}

main {
    width: calc(100% - 350px);
    overflow: auto;
}

main a {
    color: var(--aside-font);
}

main #upgrade-header {
    position: fixed;
    top: 0;
    width: calc(100% - 350px);
    background-color: var(--header-color);
    text-align: right;
    padding-block: 30px 45px;
    padding-right: 30px;
    z-index: 1;
}

main #upgrade-header a {
    color: var(--heading-font);
    border: 1px solid var(--heading-font);
    border-radius: 30px;
    padding: 10px 35px;
}

main #genres {
    margin-top: 94px;
}

main #genres ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding-block: 20px 50px;
}

main #genres ul li .green-hover {
    opacity: 0;
    height: 4px;
    margin-inline: 30%;
    margin-top: 5px;
    background-color: var(--hover-text);
}

main #genres ul li:hover a {
    color: var(--heading-font);
}

main #genres ul li:hover .green-hover {
    opacity: 1;
}

main .content {
    color: var(--aside-font);
    width: 95%;
    margin-inline: auto;
    margin-bottom: 60px;
}

main .content#popular-artists {
    margin-bottom: 20px;
}

main .content h2,
main .content h3 {
    color: var(--heading-font);
}

main .content#recently-played h2 {
    margin-bottom: 30px;
}

main .content h2 {
    margin-bottom: 10px;
}

main .content>span {
    display: block;
    margin-bottom: 30px;
}

main .content .media-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

main .content .media-grid .media-box {
    width: calc((100% / 6) - (100px / 6));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    text-align: center;
}

main .content .media-grid .media-box figure {
    position: relative;
}

main .content .media-grid .media-box figure {
    cursor: pointer;
}

main .content .media-grid .media-box figure i {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: var(--heading-font);
}

main .content .media-grid .media-box figure:hover img {
    filter: brightness(50%);
}

main .content .media-grid .media-box figure:hover i {
    display: block;
}

main .content#popular-artists .media-grid .media-box figure img {
    border-radius: 50%;
}

main .content .media-grid .media-box h3:hover,
main .content .media-grid .media-box a:hover {
    text-decoration: underline;
    cursor: pointer;
}

footer {
    background-color: var(--nav-color);
    height: 100px;
    width: 100%;
    color: var(--heading-font);
    position: relative;
}

#progress-song {
    display: none;
    width: 30vw;
    height: 4px;
    position: absolute;
    top: 0;
    background-color: var(--hover-text);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-inline: 15px;
}

nav progress {
    height: 8px;
    background-color: red;
}

footer #progress-song,
nav progress:hover,
nav #left-container #img-name ul li:hover,
nav i:hover,
nav #progress-volume-vertical {
    cursor: pointer;
}

nav i:active {
    color: var(--aside-font);
}

progress::-webkit-progress-value {
    background: var(--hover-text);
}

nav label {
    font-size: 13px;
}

nav #left-container {
    display: flex;
    gap: 80px;
}

nav #left-container #img-name {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav #left-container #img-name figure {
    width: 50px;
    position: relative;
}

nav #left-container #img-name figure:hover {
    cursor: pointer;
}

nav #left-container #img-name figure i {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--heading-font);
}

nav #left-container #img-name figure:hover img {
    filter: brightness(50%);
}

nav #left-container #img-name figure:hover i {
    display: block;
}

nav #left-container #img-name ul li:hover {
    text-decoration: underline;
}

nav #left-container #img-name ul li:last-child {
    font-size: 13px;
    color: var(--aside-font);
}

nav #left-container #icons {
    color: var(--aside-font);
    display: flex;
    align-items: center;
    gap: 15px;
}

nav #left-container #icons i:hover {
    color: var(--heading-font);
}

nav #media-controls {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

nav #media-controls div:first-child {
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 20px;
}

nav #media-controls div:last-child {
    display: flex;
    align-items: center;
    gap: 15px;
}

nav #media-controls div:last-child progress {
    width: 35vw;
}

nav #audio-controls {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 100%;
    padding-block: 20px;
}

nav #audio-controls #progress-volume-vertical {
    display: none;
    width: 8px;
    height: 100%;
    background-color: var(--hover-text);
}

nav #audio-controls #progress-volume-vertical div {
    width: 8px;
    height: 50%;
    background-color: var(--aside-font);
}

@media screen and (max-width: 1328px) {

    main .content .media-grid .media-box {
        width: calc((100% / 4) - (60px / 4));
    }

    main .content {
        width: 90%;
    }
}

@media screen and (max-width: 1004px) {

    main .content .media-grid .media-box {
        width: calc((100% / 3) - (40px / 3));
    }

    #progress-song {
        display: block;
    }

    nav #media-controls div:last-child {
        display: none;
    }
}

@media screen and (max-width: 847px) {

    nav #left-container {
        gap: 20px;
    }

    nav #left-container #icons {
        flex-direction: column;
    }

    nav #audio-controls progress {
        display: none;
    }

    nav #audio-controls #progress-volume-vertical {
        display: inline-block;
    }
}

@media screen and (max-width: 764px) {

    aside {
        width: 70px;
        padding: 15px;
    }

    aside #playlists-menu,
    aside>div:first-child>figure:first-child,
    aside #main-controls .aside-controls a,
    aside #profile div a,
    aside #profile hr,
    aside #profile div h3 {
        display: none;
    }

    aside .hidden {
        display: block;
    }

    aside>div>figure:nth-child(2):hover {
        cursor: pointer;
    }

    aside #profile div:first-child figure {
        width: 70%;
        margin-inline: auto;
        margin-bottom: 20px;
    }

    aside #profile div:nth-child(3) figure {
        width: 100%;
    }

    aside #profile hr {
        padding-inline: 0;
    }

    aside #profile div:first-child {
        padding-left: 0;
    }

    aside #profile div:nth-child(3) {
        padding-left: 0;
    }

    aside #profile div:first-child img {
        width: 90%;
    }

    aside .aside-controls {
        padding-left: 0;
    }

    .aside-green,
    .aside-green:hover {
        border-left: 0;
    }

    main {
        width: calc(100% - 70px);
        color: white;
    }

    main #upgrade-header {
        width: calc(100% - 70px);
    }
}

@media screen and (max-width: 648px) {

    main .content .media-grid .media-box {
        width: calc((100% / 2) - (20px / 2));
    }
}